<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="16x16" href="img/combinedai-icon.webp">
    <link rel="icon" sizes="32x32" href="img/combinedai-icon.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="img/combinedai-icon.webp">
    <title>OktetAI</title>

    <link rel="stylesheet" href="css/homestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <%- include('homepartials/header') %>
    <%- include('homepartials/main') %>
    <%- include('homepartials/home') %>
    <%- include('homepartials/explanations') %>
    <%- include('homepartials/subscriptions') %>
    <%- include('homepartials/contact') %>
    <%- include('homepartials/footer') %>

    <script src="js/homescript.js"></script>
</body>

</html>